#erddap{
    column-gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.csv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#err{
    display: flex;
    justify-content: space-between;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
}